*
{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

.wrapper
{
    display: flex;
    align-content: center;
    margin: 7% auto;   
    flex-direction: column;
    flex-wrap: wrap;
}
.square
{   
    background-color:#399fff;
    padding:20px;
    border-radius:10px;
    display:flex;
    align-items:center;
    justify-content:center;
    font-size:40px;
    font-family:sans-serif;
}


.grid
{
    width:600px;
    height:600px;
    background-color:#fff;
    display:grid;
    grid-template-columns: 200px 200px 200px;
    grid-row: auto auto;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}
.gameHeader
{
    display: flex;
    justify-content: center;
    padding-bottom: 2%;
    height: 10vh;
    width: 85vh;
    align-items: center;
}

.buttons
{
    display: flex;
    gap: 1%;
    width: 20vh;
    height: 10vh;
    border-radius: 10px;
    justify-content: space-evenly;
    align-items: center;
}
.buttons > .Xbutton
{
    height: 50px;
    width: 50px;
    border-radius: 5px;
}
.buttons > .Obutton
{
    height: 50px;
    width: 50px;    
    border-radius: 5px;
}
.message
{
    display: flex;
    justify-content: center;
    padding: 0 0 1.5% 0;
}
.placeholder 
{
    display: flex;
    justify-content: center;
}